.c-social-list {
  padding: 0;
  margin: 0 0 2rem;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.c-social-list__item {
  margin: 0 1rem;
  @include mq(desktop) {
    margin: 0 0.5rem;
  }
}

.c-social-list__item__icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: solid 1px #cecece;

  svg {
    fill: #b1adad;
  }

  .c-social-list__item:hover & {
    background: #329e50;
    border-color: #329e50;

    svg {
      fill: #fff;
    }
  }
}
